<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Two Cats Spa</title>
    <link href="bower/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <!-- <link href="/bootstrap-dark.css" rel="stylesheet" /> -->
  <link href="browser/styles/styles.css" rel="stylesheet" />
  <script src="bower/angular/angular.js"></script>
  <script src="browser/js/scriptsTwo.js"></script>
  </head>

  <body ng-app="twoCatsApp" ng-controller="catController">
    <nav class="navbar navbar-inverse">
      <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Profile</a></li>
          <li role="presentation"><a href="#">Messages</a></li>
          <li role="presentation" class="white center-vert-nav bigger">Two Cats Spa</li>
      </ul>
    </nav>

    <h2 class ="center-container">Two Cats Spa</h2>{{ testing}}

    <div class ="center-container">
      <div class="input-group center-container input-box">
        <form id="addForm" action="/api/products/" method="POST" class="hideMe">
        </form>
          <input name="name" type="text" class="form-control " id="name" placeholder="Treatment Name" aria-describedby="basic-addon2" form="addForm" >
      </div>
      <div class="input-group center-container input-box">
          <input name="priority" type="number"  class="form-control" id="priority" placeholder="Priority" aria-describedby="basic-addon3" form="addForm" >
      </div>
      <div class ="center-container">
        <button type="submit" class="btn btn-default" form="addForm">Add Treatment</button>
      </div>
    </div>
    <!-- begin list of products -->
    <div class="listProducts">
      <ul class ="list-group center-container">
        <li ng-repeat="product in products" class=" well well-sm list-group-item flex">
        <div class="">{{product.name}}</div>
      <div class=""><span class="glyphicon glyphicon-remove-circle" ng-click="deleteProduct(product._id.toString())"></span><span class="badge">{{product.priority}}</span></div>
        </li>
      </ul>
    </div>



  </body>
</html>
