* {
  box-sizing: border-box;
}
.white{
  color: white;
}
.center-vert-nav {
  position: relative;
display: block;
padding: 5px 5px;
font-size: 1.5em;
letter-spacing: 2px
}
.moveButton{
  margin-left: 285px;
}
.navbar {
  vertical-align: middle;
}
.center-container {
  width: 70%;
  margin: auto;
}
h2 {
  padding-bottom: 30px;
}
.input-box {
  width: 50%;
}
.listProducts{
  margin-top: 30px;
  margin-bottom: 30px
}
.inline{
  display: inline-block;
}
.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.glyphicon-remove-circle {
  padding: 0 15px 0 15px;
}
